/* 
   front end project
   car rental system
*/

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.7);
    background: rgb(201, 201, 201);
    
    
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #070707;
    text-decoration: none;
}
a:hover{
    color: #2623f5;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #070707;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color:rgb(97, 56, 245);
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 5%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */

.car-search{
    background-color: lightskyblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5% 0;
}

.car-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Car Menu */
.car-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.car-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.car-menu-img{
    width: 20%;
    float: left;
}

.car-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.car-price{
    font-size: 1.2rem;
    margin: 2% 0;
    color: blue;
}
.car-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social{
    background-color: rgb(201, 201, 201);
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}
.footer{
    background-color: rgb(201, 201, 201);
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.reviews h1{
  color: #020202;
  font-size: 70px;
 text-align: center;
}
.rev-img{
    width: 80px;
    height: 70px;
}
.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border:2px solid blue;

}
.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem
}
.reviews-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p{
    font-style: italic;
}
.reviews-container .box .stars .bx{
color: #fe5b3d;    
}
.header-btn a {
    padding: 10px 20px;
    color:var(--text-color);
    font-weight:500;
}
.header-btn .sign-in {
    background: blue;
    color:#FFf;
    border-radius: 0.5rem;

}
.header-btn .sign-in:hover {
    background: var(--main-color);
}
.ride-container{
    display: grid;
    align-items:center;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.ride-container .box{
    text-align: center;
    padding: 20px;
}
.ride-container .box .bx{
    font-size: 34px;
    padding: 10px;
    background: #000000;
    border-radius: 0.5rem;
    color: #ffffff;
}
.ride-container .box h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
    align-content: center;
}
